/* Не специфичный по тегу */
div {
    color: blue;
}

/* Специфичный по классу */
.element {
    color:red;
}
/* Специфичней класса. (вложенность классов) */
.wrapper .element {
    color: orange;
}

/* Специфичный по классу (заменяет предыдущий класс) НЕ приоритетней вложенности классов */
.big {
    color: black;
}

/* Специфиный по индетификатору. Приоритет выше класса */
#second {
    color:yellow;
}
/* Специфинeq по индетификатору. */
#second.element {
    color:green;
}

/* style="color: gray" - Специфичней всего. Максимальный приориет */